@using UI.AnchorCalculator.ViewModels
@model AnchorsViewModel
@addTagHelper *, UI.AnchorCalculator

<style>
.pagination>li>a{
  border: 1px solid black;
  color: black;
}
.pagination>li>a:hover{
  border: 1px solid black;
  color: black;
  text-decoration: none;
}
.pagination>li.chosen.page-item>a {
  background: black;
  color: #fff;
}
</style>


<h2>Каталог анкеров</h2>
<form method="get" class="row gx-3 gy-2 align-items-center mb-4 w-150">
  <div class="col-lg-2">
    <label class="colFormLabel" for="SelectedUserName">Логин автора:</label>
    <input type="text" id="SelectedUserName" name="SelectedUserName" value="@Model.FilterView.SelectedUserName" class="form-control">
  </div>
  <div class="col-lg-1">
    <label class="colFormLabel" for="DateTimeFrom">Дата от:</label>
    <input type="datetime-local" id="DateTimeFrom" name="DateTimeFrom" value="@Model.FilterView.DateTimeFrom" class="form-control">
  </div>
    <div class="col-lg-1">
    <label class="colFormLabel" for="DateTimeTill">Дата до:</label>
    <input type="datetime-local" id="DateTimeTill" name="DateTimeTill" value="@Model.FilterView.DateTimeTill" class="form-control">
  </div>
  <div class="col-lg-1">
    <label class="colFormLabel" for="PriceFrom">Цена от:</label>
    <input type="number" id="PriceFrom" name="PriceFrom" value="@Model.FilterView.PriceFrom" class="form-control" step="0.1" min="0">
  </div>
  <div class="col-lg-1">
    <label class="colFormLabel" for="PriceTill">Цена до:</label>
    <input type="number" id="PriceTill" name="PriceTill" value="@Model.FilterView.PriceTill" class="form-control" step="0.1" min="0">
  </div>
  <div class="col-lg-1">
    <label class="colFormLabel" for="specificSizeSelect">Материал:</label>
     <select id="selectBox" name="SelectedMaterial" class="form-select" aria-label="Default select example">
                     <option>Ничего не выбрано</option>
                     @foreach (var item in Model.FilterView.Materials)
                     {
                         <option id="material_@item.Id" value="@item.Id">@String.Format("{0} Ø{1} {2}", item.Name, item.Size, item.Type)</option>
                     }
     </select>  
  </div>
  <div class="col-lg-2">
    <label class="colFormLabel" for="PageSize">Элементов на странице:</label>
    <input type="number" id="PageSize" name="PageSize" value="@Model.PageViewModelAnchors.PageSize" class="form-control" step="1" min="0" max="20">
  </div>
  <div class="col-lg-2 pt-3">
      <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-dark">Фильтр</button>
            <button class="btn btn-secondary" onclick="refreshFilters()">Сбросить</button>
      </div> 
   </div>
</form>

<div class="row row-cols-1 row-cols-md-3 g-4">
     @if (@Model.Anchors.Count == 0)
    {
        <h2>Анкеров нет</h2>
    }
    else
    {
          @foreach (var item in Model.Anchors)
    {
   <div class="col">
    <div class="card h-100" onclick="location.href='/Anchor/Details/@item.Id';" style="cursor: pointer;">
        <div class="card-img-top" id="@item.Id"></div>      
      <div class="card-body">
        <h5 class="card-title"># @item.Id</h5>
        <p class="card-text">Цена: @item.Price сом</p>
        <p class="card-text">Автор: @if (item.User != null) { @item.User.UserName }</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Дата создания: @item.DateCreate</small>
      </div>
    </div>
   </div> 
    } 
    }
</div>

<div class="mt-4">
    <page-link page-model="Model.PageViewModelAnchors" page-action="Anchors"
           page-url-SelectedMaterial="@(Model.FilterView.SelectedMaterial)"
           page-url-SelectedUserName="@(Model.FilterView.SelectedUserName)"
           page-url-DateTimeFrom="@(Model.FilterView.DateTimeFrom)"
           page-url-DateTimeTill="@(Model.FilterView.DateTimeTill)"
           page-url-PriceFrom="@(Model.FilterView.PriceFrom)"
           page-url-PriceTill="@(Model.FilterView.PriceTill)"
           page-url-PageSize="@(Model.PageViewModelAnchors.PageSize)">
    </page-link>
</div>



@section Scripts
{
   <script>

      document.addEventListener('DOMContentLoaded', function(){
          let divsImg = document.getElementsByClassName("card-img-top");
          let exampleAttr; 
          let ids = [];
            for(let i = 0; i < divsImg.length; i++){
                exampleAttr = divsImg[i].getAttribute("id");
                console.log(exampleAttr)
                ids.push(exampleAttr)
            }
            let stringIds = ids.join(',');
           console.log(divsImg);
           console.log(ids);
           console.log(stringIds);
           $.ajax(
                  {
                      url: '@Url.Action("GetListAnchorJsonResult", "Anchor")',
                      type: 'GET',
                      data : {'ids' : stringIds},
                      success: function (response) {
                      console.log(response.success);
                      if(response.success) {
                          console.log(response.anchorsSvg)
                          var anchorsSvg = response.anchorsSvg;
                          let idMin = response.idMin;
                          let idMax = response.idMax;
                          let divId = '';
                          let j = 0;
                          for(i=idMin; i<=idMax; i++){
                            divId = document.getElementById(i);
                            if(divId !== null){
                                divId.innerHTML = anchorsSvg[j++];                                
                            };                           
                          }
                      }}})
      });

      function refreshFilters() {
          var selectBox = document.getElementById("selectBox");
          selectBox.value=0;
          var inputSelectedUserName = document.getElementById("SelectedUserName");
          inputSelectedUserName.value = null;
          var DateTimeFrom = document.getElementById("DateTimeFrom");
          DateTimeFrom.value = null;
          var DateTimeTill = document.getElementById("DateTimeTill");
          DateTimeTill.value = null;
          var PriceFrom = document.getElementById("PriceFrom");
          PriceFrom.value = 0;
          var PriceTill = document.getElementById("PriceTill");
          PriceTill.value = 0;
          var PageSize = document.getElementById("PageSize");
          PageSize.value = 6;
      }     

   </script>
    
}