@model UI.AnchorCalculator.ViewModels.AnchorViewModel

<div class="card mb-3" style="max-width: 640px;" id="cardDetails">
  <div class="row g-0">
    <div class="col-md-6">
      <div class="img-fluid rounded-start"></div>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"># @Model.Anchor.Id</h5>
        <p class="card-text">Диаметр: @Model.Anchor.Diameter мм</p>
        <p class="card-text">Длина: @Model.Anchor.Length мм</p>
        <p class="card-text">Диаметр резьбы: @Model.Anchor.ThreadDiameter мм</p>
        <p class="card-text">Шаг резьбы: @Model.Anchor.ThreadStep мм</p>
        <p class="card-text">Длина резьбы: @Model.Anchor.ThreadLength мм</p>
        <p class="card-text">Длина загиба: @Model.Anchor.BendLength мм</p>
        <p class="card-text">Радиус загиба: @Model.Anchor.BendRadius мм</p>
        <p class="card-text">Длина заготовки: @Math.Round(Model.Anchor.BilletLength, MidpointRounding.AwayFromZero) мм</p>
        <p class="card-text">Кол-во: @Model.Anchor.Quantity шт</p>
        <p class="card-text">Вес 1 шт: @Math.Round(Model.Anchor.Weight, 2) кг</p>
        <p class="card-text">Вес @Model.Anchor.Quantity шт: @Math.Round(Model.Anchor.BatchWeight, MidpointRounding.AwayFromZero) кг</p>
        <p class="card-text">Себестоимость: @Math.Round(Model.Anchor.Sebes, MidpointRounding.AwayFromZero) сом</p>
        <p class="card-text">Общая cебестоимость: @Math.Round(Model.Anchor.BatchSebes, MidpointRounding.AwayFromZero) сом</p>
        <p class="card-text">Цена: @Math.Round(Model.Anchor.Price, MidpointRounding.AwayFromZero) сом</p>
        <p class="card-text">Общая стоимость: @Math.Round(Model.Anchor.Amount, MidpointRounding.AwayFromZero) сом</p>
        <p class="card-text">Материал: @Model.MaterialName </p>
        <p class="card-text">Автор: @Model.UserName</p>
        <p class="card-text"><small class="text-muted">@Model.Anchor.DateCreate</small></p>
        <button type="button" class="btn btn-secondary" onclick="printDiv(cardDetails);">Печать</button>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
   <script>

      document.addEventListener('DOMContentLoaded', function(){
           var id = @Model.Anchor.Id;
           $.ajax(
                  {
                      url: '@Url.Action("GetAnchorJsonResult", "Anchor")',
                      type: 'GET',
                      data: {'id': id},
                      success: function (response) {
                      if(response.success)
                      {
                           let divImg = document.getElementsByClassName("img-fluid")[0];
                           divImg.innerHTML = response.svgElement;   
                      }}})
      });

        function printDiv(elemId) {
            console.log(elemId);
            const printContents = elemId.innerHTML;
            const originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        };
   </script>
    
}