@using Core.AnchorCalculator.Entities.Enums
@model UI.AnchorCalculator.ViewModels.AnchorViewModel 

<head>
    <link rel="stylesheet" href="~/css/anchor_page.css" asp-append-version="true" />
</head>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3" align="left" style="max-width: 600px; float:left">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Форма для заполнения</h5>
        <p class="card-text">
           <form id="CalculateForm">
             <div class="row mb-3">
                 <div class="validation" asp-validation-summary="ModelOnly"/>
               <label asp-for="MaterialId" class="col-sm-4 col-form-label"></label>
               <div class="col-sm-8">
                 <select id="selectBox" asp-for="MaterialId" class="form-select" aria-label="Default select example" onchange="changeFuncDiamAnchor();">
                     <option>Ничего не выбрано</option>
                     @foreach (var item in Model.Materials)
                     {
                         <option id="material_@item.Id" value="@item.Id">@item.FullName</option>
                     }
                 </select>                
               </div>
             </div>
             <div class="row mb-3">
               <label asp-for="Diameter" class="col-sm-4 col-form-label"></label>
               <div class="col-sm-8">
                 <input asp-for="Diameter" type="text" class="form-control" id="Diameter" readonly>
                 <span asp-validation-for="Diameter" class="text-danger"></span>
               </div>
             </div> 
             <div class="row mb-3">
               <label asp-for="Length" class="col-sm-4 col-form-label"></label>
               <div class="col-sm-8">
                 <input asp-for="Length" type="text" class="form-control" id="Length">
                 <span asp-validation-for="Length" class="text-danger"></span>
               </div>
             </div>
              <div class="row mb-3">
               <label asp-for="ThreadDiameter" class="col-sm-4 col-form-label"></label>
               <div class="col-sm-8">
                 <input asp-for="ThreadDiameter" type="text" readonly class="form-control" id="ThreadDiameter">
                 <span id="ThreadDiameterValid" class="text-danger"></span>
               </div>
             </div> 
             <div class="row mb-3">
               <label asp-for="ThreadLength" class="col-sm-4 col-form-label"></label>   
               <div class="col-sm-8">
                 <input asp-for="ThreadLength" type="text" class="form-control" id="ThreadLength">
                 <span asp-validation-for="ThreadLength" class="text-danger"></span>
               </div>
             </div> 
              <div class="row mb-3">
               <label asp-for="ThreadStep" class="col-sm-4 col-form-label"></label>
               <div class="col-sm-8">
                 <input asp-for="ThreadStep" type="text" class="form-control" id="ThreadStep" readonly>
                 <span asp-validation-for="ThreadStep" class="text-danger"></span>
               </div>
             </div> 
              <div class="row mb-3">
               <label asp-for="Quantity" class="col-sm-4 col-form-label"></label>
               <div class="col-sm-8">
                 <input asp-for="Quantity" type="text" class="form-control" id="Quantity">
                 <span asp-validation-for="Quantity" class="text-danger"></span>
               </div>
             </div>
             <div class="row mb-3 w-25">
                 <div class="radios btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" asp-for="Kind" id="straight" autocomplete="off" checked onclick="showSubForm()" value="@Kind.Straight">
                    <label class="btn btn-outline-primary" for="straight">|</label>

                    <input type="radio" class="btn-check" asp-for="Kind" id="withBend" autocomplete="off" onclick="showSubForm()" value="@Kind.Bend">
                    <label class="btn btn-outline-primary" for="withBend">⌊</label>

                    <input type="radio" class="btn-check" asp-for="Kind" id="withBendDouble" autocomplete="off" onclick="showSubForm()" value="@Kind.BendDouble">
                    <label class="btn btn-outline-primary" for="withBendDouble">⊔</label>
                 </div>
             </div>  
             <div id="subForm" class="row mb-3" style="display:none">
                <div class="row mb-3">
                         <label asp-for="BendLength" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                         <input asp-for="BendLength" onfocus="this.value=''" type="text" class="form-control" id="BendLength">
                         <span id="BendLengthValid" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                         <label asp-for="BendRadius" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                         <input asp-for="BendRadius" type="number" class="form-control" id="BendRadius" step="1" value="32" readonly>
                         <span asp-validation-for="BendRadius" class="text-danger"></span>
                    </div>
                </div>               
             </div> 
             <button type="submit" class="btn btn-dark mt-2">Расчитать</button>
           </form>
        </p>
      </div>
    </div>
    <div class="col-md-4">
            <img src="/images/anchor.png" class="d-block mx-auto mt-5" alt="...">
        </div>
  </div>
</div>
    </div>
        <div class="col-lg-6" id="descriptAnchor" style="display:none" >
        <div id="card_descript" class="card mb-3"  style="min-width: 600px;">
            <div id="row_descript" class="row g-0">
                <div class="col-md-5">
                  <div class="card-body" id="PriceWeight">
                    <h5 class="card-title">Результаты расчёта</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
                <div class="col-md-7" id="containSvg">
                </div>
            </div>
            </div>
        </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Калькулятор анкеров</strong>
      <small>Только что</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Анкер успешно сохранён!
    </div>
  </div>
</div>

<div id="drawing_pdf" class="card mb-3" style="display:none">
  <div id="svg_pdf" class="card-img-top"></div>
  <div id="notes_pdf" class="card-body"></div>
  <div id="stamp_pdf" class="card-body"></div>
</div>

<div id="blank_pdf" class="card mb-3" style="display:none">
    <div class="row g-0">
        <div class="col-md-4">
            <div id="svg_blank_pdf" class="card-img"></div>
        </div>
        <div class="col-md-8 card-img-overlay">
            <div id="listBlank" class="card-body"></div>
        </div>
    </div>
</div>




@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>



        let Descript_to_blank;
        var calculateForm = document.getElementById("CalculateForm");

        calculateForm.addEventListener("submit", function formSubmit(event){
            event.preventDefault();    
            var addButton = document.getElementById("liveToastBtn");
            if(addButton !== null){
                addButton.disabled = false;
            }
            var formData = new FormData(calculateForm)
            console.log(formData)
            for (var pair of formData.entries()) {               
                console.log(pair[0] + ', ' + pair[1]);
            }
            var xhrGetAnchorJsonResult = $.ajax(
            {
                url: '@Url.Action("GetAnchorJsonResult", "Anchor")',
                type: 'POST',
                contentType: false,
                processData: false,
                data: formData,          
                success: function (response)
                {
                    var ThreadDiameterValid = document.getElementById("ThreadDiameterValid");
                    console.log(response.success)
                    console.log(response.anchorJS)
                    if(response.success)
                    {
                        ThreadDiameterValid.innerHTML = "";
                        BendLengthValid.innerHTML = "";
                        ThreadDiameterValid.innerHTML = "";                   
                        document.getElementById("containSvg").innerHTML = response.anchorJS.svgElement;
                        document.getElementById("svg_pdf").innerHTML = response.anchorJS.svgElement;
                        document.getElementById("svg_blank_pdf").innerHTML = response.anchorJS.svgElement;
                        document.getElementById("descriptAnchor").style.display = "flex";
                        let PriceWeight = document.getElementById("PriceWeight");
                        let UserName = "@User.Identity.Name".replace(new RegExp('"', 'g'), '');
                        if(response.isAuthen){
                                    Descript_to_blank = '<div id="Descript_to_blank"><h5 class="card-title">Результаты расчёта</h5><p class="card-text">Кол-во: ' + response.anchorJS.quantity + ' шт</p>' +
                                    '<p class="card-text">Цена: ' + Math.round(response.anchorJS.price) + ' сом</p>' +
                                    '<p class="card-text">Общая стоимость: ' + Math.round(response.anchorJS.amount) + ' сом</p>' +
                                    '<p class="card-text">Длина заготовки: ' + Math.round(response.anchorJS.billetLength) + ' мм</p>' +
                                    '<p class="card-text">Цена мат-ла на 1 шт: ' + Math.round(response.anchorJS.priceMaterial) + ' сом</p>' +
                                    '<p class="card-text">Цена мат-ла на ' + response.anchorJS.quantity + ' шт: ' + Math.round(response.anchorJS.batchPriceMaterial) + ' сом</p>' +
                                    '<p class="card-text">Вес 1 шт: ' + response.anchorJS.weight.toFixed(2) + ' кг</p>' +
                                    '<p class="card-text">Вес ' + response.anchorJS.quantity + ' шт: ' + response.anchorJS.batchWeight.toFixed(1) + ' кг</p>' +
                                    '<p class="card-text">Материал: ' + response.anchorJS.material.fullName + '</p>' +
                                    '<p class="card-text">Исполнитель: @User.Identity.Name</p></div>';
                                    document.getElementById("listBlank").innerHTML = Descript_to_blank;
                                                                                              PriceWeight.innerHTML = Descript_to_blank +
                                                                                              '<input id="materialIdtoDB" type="hidden" value="'+ response.anchorJS.materialId +'">' + 
                                                                                              '<input id="diametertoDB" type="hidden" value="'+ response.anchorJS.diameter +'">' +
                                                                                              '<input id="lengthtoDB" type="hidden" value="'+ response.anchorJS.length +'">' +
                                                                                              '<input id="threadDiametertoDB" type="hidden" value="'+ response.anchorJS.threadDiameter +'">' +
                                                                                              '<input id="threadLengthtoDB" type="hidden" value="'+ response.anchorJS.threadLength +'">' +
                                                                                              '<input id="threadSteptoDB" type="hidden" value="'+ response.anchorJS.threadStep +'">' +
                                                                                              '<input id="quantitytoDB" type="hidden" value="'+ response.anchorJS.quantity +'">' +
                                                                                              '<input id="bendLengthtoDB" type="hidden" value="'+ response.anchorJS.bendLength +'">' +
                                                                                              '<input id="bendRadiustoDB" type="hidden" value="'+ response.anchorJS.bendRadius +'">' + 
                                                                                              '<input id="sebestoDB" type="hidden" value="'+ response.anchorJS.sebes +'">' +
                                                                                              '<input id="batchSebestoDB" type="hidden" value="'+ response.anchorJS.batchSebes +'">' +
                                                                                              '<input id="pricetoDB" type="hidden" value="'+ response.anchorJS.price +'">' +
                                                                                              '<input id="amounttoDB" type="hidden" value="'+ response.anchorJS.amount +'">' +
                                                                                              '<input id="billetLengthtoDB" type="hidden" value="'+ response.anchorJS.billetLength +'">' +
                                                                                              '<input id="weighttoDB" type="hidden" value="'+ response.anchorJS.weight +'">' +
                                                                                              '<input id="batchWeighttoDB" type="hidden" value="'+ response.anchorJS.batchWeight +'">' +
                                                                                              '<input id="kindToDB" type="hidden" value="'+ response.anchorJS.kind +'">' +
                                                                                              '<input id="priceMaterialtoDB" type="hidden" value="' + response.anchorJS.priceMaterial + '">' +
                                                                                              '<input id="batchPriceMaterialToDB" type="hidden" value="' + response.anchorJS.batchPriceMaterial + '">' +
                                                                                              '<input id="lengthPathRollerToDB" type="hidden" value="' + response.anchorJS.lengthPathRoller + '">' +
                                                                                              '<div class="btn-group mt-2" role="group" aria-label="Basic mixed styles example">' +
                                                                                              '<button type="button" id="liveToastBtn" class="btn btn-dark" onclick="Add();">Сохранить</button>' +
                                                                                              '<button type="button" id="btn_drawing_pdf" class="btn btn-secondary" disabled>Чертеж</button>' +
                                                                                              '<button type="button" id="btn_blank_pdf" class="btn btn-secondary" disabled onclick="PrintBlank();">Бланк</button>' +
                                                                                              '</div>'; 

                        }
                        else{
                                Descript_to_blank = '<h5 class="card-title">Результаты расчёта</h5><p class="card-text">Кол-во: ' + response.anchorJS.quantity + ' шт</p>' +
                                    '<p class="card-text">Цена: ' + Math.round(response.anchorJS.price) + ' сом</p>' +
                                    '<p class="card-text">Общая стоимость: ' + Math.round(response.anchorJS.amount) + ' сом</p>' +
                                    '<p class="card-text">Длина заготовки: ' + Math.round(response.anchorJS.billetLength) + ' мм</p>' +
                                    '<p class="card-text">Вес 1 шт: ' + response.anchorJS.weight.toFixed(2) + ' кг</p>' +
                                    '<p class="card-text">Вес ' + response.anchorJS.quantity + ' шт: ' + response.anchorJS.batchWeight.toFixed(1) + ' кг</p>' +
                                    '<p class="card-text">Материал: ' + response.anchorJS.material.fullName + '</p>';
                                document.getElementById("listBlank").innerHTML = Descript_to_blank;
                                PriceWeight.innerHTML = Descript_to_blank + '<button type="button" id="btn_blank_pdf" class="btn btn-secondary" onclick="PrintBlank();">Распечатать</button>';
                        }
                        
                    } else {
                        if(typeof response.errorMessageDiam !== "undefined")
                        {
                           if(response.errorMessageDiam == "The value '' is invalid.")
                           {
                             ThreadDiameterValid.innerHTML = "Поле обязательно для заполнения";
                           }
                           else
                           {
                             ThreadDiameterValid.innerHTML = response.errorMessageDiam;
                           }                           
                        }
                        else
                        {
                           ThreadDiameterValid.innerHTML = "";
                        };

                         if(typeof response.errorMessageBendLen !== "undefined")
                        {  
                           if(response.errorMessageBendLen == "The value '' is invalid.")
                           {
                             BendLengthValid.innerHTML = "Поле обязательно для заполнения";
                           }
                           else
                           {
                             BendLengthValid.innerHTML = response.errorMessageBendLen;
                           }                         
                        }
                        else
                        {
                           BendLengthValid.innerHTML = "";
                        };
                    }                  
                }
            }
            )
            var xhrGetAnchorJsonResultJS = JSON.stringify(xhrGetAnchorJsonResult);
            console.log(xhrGetAnchorJsonResultJS);
            console.log(xhrGetAnchorJsonResult);
        }        
        )

         function changeFuncDiamAnchor() {          
          var selectBox = document.getElementById("selectBox");
          var selectedValue = selectBox.options[selectBox.selectedIndex].value;
           $.ajax(
                  {
                      url: '@Url.Action("GetMaterialJsonResult", "Material")',
                      type: 'GET',
                      data: { 'id': selectedValue },
                      success: function (response) {
                      if(response.success) {
                          var DiametrInput = document.getElementById("Diameter");
                          var ThreadDiameterInput = document.getElementById("ThreadDiameter");
                          DiametrInput.value = response.materialJS.size;
                          var ThreadDiameterInt = Math.trunc(response.materialJS.size);
                          ThreadDiameterInput.value = ThreadDiameterInt
                          var BendRadius = document.getElementById("BendRadius");
                          changeFuncThreadStep(ThreadDiameterInt);          
                          BendRadius.value = Math.ceil(response.materialJS.size);
                      }}})}     
          

               document.addEventListener("DOMContentLoaded", function(event) {
                   $(':text').val('');
                   $("#BendLength").val('0');
                   $("#BendLength").inputmask("999", {"placeholder": ""});
                   $("#ThreadLength").inputmask("999", {"placeholder": ""});
                   $("#Quantity").inputmask("9999", {"placeholder": ""});
                   $("#Length").inputmask("9999", {"placeholder": ""});
                     });
       

            function showSubForm() {
                 var straight = document.getElementById("straight");
                 var withBend = document.getElementById("withBend");
                 var withBendDouble = document.getElementById("withBendDouble");
                 var subForm = document.getElementById("subForm");
                 if (withBend.checked == true) {
                   subForm.style.display = "block";
                 } else if (withBendDouble.checked == true) {
                   subForm.style.display = "block";
                 } else {
                   subForm.style.display = "none";
                   document.getElementById("BendLength").value=0; 
                 }
               }

        function changeFuncThreadStep(Diameter) {
            console.log(Diameter);  
            var inputThreadDiameter = document.getElementById("ThreadDiameter");
            var inputThreadStep = document.getElementById("ThreadStep");
            var valueThreadStep;
            if (Diameter > 0 && Diameter <= 6) {
                         valueThreadStep =  "1";
            }
            else if (Diameter > 6 && Diameter <= 8) {
                         valueThreadStep =  "1.25";
            }
            else if (Diameter > 8 && Diameter <= 10) {
                         valueThreadStep =  "1.5";
            }
            else if (Diameter > 10 && Diameter <= 12) {
                         valueThreadStep =  "1.75";
            }
            else if (Diameter > 12 && Diameter <= 16) {
                         valueThreadStep =  "2";
            }
                         else if(Diameter > 16 && Diameter <= 22)
            {
                         valueThreadStep =  "2.5";
            }
                          else if(Diameter > 22 && Diameter <= 27)
            {
                         valueThreadStep =  "3";
            }
                          else if(Diameter > 27 && Diameter <= 30)
            {
                         valueThreadStep =  "3.5";
            }
            else if (Diameter > 30 && Diameter <= 36) {
                         valueThreadStep =  "4";
            }
                          else if(Diameter > 36 && Diameter <= 42)
            {
                         valueThreadStep =  "4.5";
            }
            else if (Diameter > 42 && Diameter <= 48) {
                         valueThreadStep =  "5";
            }
            else
            {
               valueThreadStep = "0";
            }
            inputThreadStep.value = valueThreadStep
               }


        function Add(){
             var materialIdtoDB = document.getElementById("materialIdtoDB").value;

             var diametertoDB = document.getElementById("diametertoDB").value;

             var lengthtoDB = document.getElementById("lengthtoDB").value;

             var threadDiametertoDB = document.getElementById("threadDiametertoDB").value;

             var threadLengthtoDB = document.getElementById("threadLengthtoDB").value;

             var threadSteptoDB = document.getElementById("threadSteptoDB").value;

             var quantitytoDB = document.getElementById("quantitytoDB").value

             var bendLengthtoDB = document.getElementById("bendLengthtoDB").value

             var bendRadiustoDB = document.getElementById("bendRadiustoDB").value

             var pricetoDB = document.getElementById("pricetoDB").value;

             var amounttoDB = document.getElementById("amounttoDB").value;

             var billetLengthtoDB = document.getElementById("billetLengthtoDB").value

             var weighttoDB = document.getElementById("weighttoDB").value

             var batchWeighttoDB = document.getElementById("batchWeighttoDB").value

             var sebestoDB = document.getElementById("sebestoDB").value

             var batchSebestoDB = document.getElementById("batchSebestoDB").value

             var svgtoDB = document.getElementById("containSvg").innerHTML;

             var kindToDB = document.getElementById("kindToDB").value;

             var priceMaterialtoDB = document.getElementById("priceMaterialtoDB").value

             var batchPriceMaterialToDB = document.getElementById("batchPriceMaterialToDB").value

             var lengthPathRollerToDB = document.getElementById("lengthPathRollerToDB").value
             console.log(svgtoDB)
             console.log('Addwork')
            $.ajax(
                    {
                        url: '@Url.Action("Add","Anchor")',
                        type: 'POST',
                        conntenttype: 'json',
                        data: {
                        'materialId': materialIdtoDB,
                        'diameter': diametertoDB,
                        'length': lengthtoDB,
                        'threadDiameter': threadDiametertoDB,
                        'threadLength': threadLengthtoDB,
                        'threadStep': threadSteptoDB,
                        'quantity': quantitytoDB,
                        'bendLength': bendLengthtoDB,
                        'bendRadius': bendRadiustoDB,
                        'price': pricetoDB,
                        'amount': amounttoDB,
                        'billetLength': billetLengthtoDB,
                        'weight': weighttoDB,
                        'batchWeight': batchWeighttoDB,
                        'svgElement' : svgtoDB,
                        'sebes': sebestoDB,
                        'batchSebes': batchSebestoDB,
                        'kind' : kindToDB,
                        'priceMaterial' : priceMaterialtoDB,
                        'batchPriceMaterial': batchPriceMaterialToDB,
                        'lengthPathRoller': lengthPathRollerToDB
                        },
                        success: function(response)
                        {
                        console.log(response.success)
                            if(response.success)
                            {
                                var btn_drawing_pdf = document.getElementById("btn_drawing_pdf");
                                btn_drawing_pdf.className = 'btn btn-dark';                     
                                btn_drawing_pdf.disabled = false;
                                btn_drawing_pdf.setAttribute('onclick', 'PrintDraw(' + response.id + ')')

                                var btn_blank_pdf = document.getElementById("btn_blank_pdf");
                                btn_blank_pdf.className = 'btn btn-dark';
                                btn_blank_pdf.disabled = false;

                                document.getElementById("liveToastBtn").disabled = true;
                                var toastTrigger = document.getElementById('liveToastBtn')
                                var toastLiveExample = document.getElementById('liveToast')
                                if (toastTrigger) {
                                    var toast = new bootstrap.Toast(toastLiveExample)
                                    toast.show()
                                }
                            }
                        }
                    }
            )
             }       
    </script>
    <script type="text/javascript" src="~/js/print.js"></script>
    <script src="~/lib/jquery/jasonday-printThis-23be1f8/printThis.js"></script>
    <script type="text/javascript" src="~/js/printDrawBlank.js"></script>
}

